.card-product-create-img {
  background: url("/img/index/large_revolt_164_6w_VE_Hf_I_unsplash_a283fe5ce0.jpg")
    center no-repeat;
  background-size: cover;
  width: 100%;
  height: 36.5rem;
}

.card-product-img {
  width: 100%;
  height: 30rem;
}
