// h1
@font-face {
  font-family: "Title";
  src: url(../../fonts/Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}

// h2
@font-face {
  font-family: "Subhead";
  src: url(../../fonts/Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf);
}

// body
@font-face {
  font-family: "Body";
  src: url(../../fonts/Jakarta_Sans/static/PlusJakartaSans-Italic.ttf);
}

$font-family-body: "Body";
$font-family-title: "Title";
$font-family-subhead: "Subhead";

$fonts: (
  family: (
    body: $font-family-body,
    title: $font-family-title,
    subhead: $font-family-subhead,
  ),
  size: (
    xs: 1.2rem,
    s: 1.6rem,
    m: 2.2rem,
    l: 3rem,
    xl: 4rem,
    xxl: 5rem,
    xxxl: 6rem,
  ),
);

$colors: (
  white: #fff,
  nav: #b1d0eb,
  blue: #509ddc,
  black: rgb(28, 28, 28),
  lightgreen: #68b880,
  darkgrey: rgb(53, 53, 53),
  red: #ff0000,
);

$media-widths: (
  small-mobile: 370px,
  mobile: 470px,
  large-mobile: 550px,
  tablet: 740px,
  desktop: 1028px,
  large-desktop: 1029px,
);

$shadow: 0 6px 12px rgba(0, 0, 0, 0.123);
$border-radius: 7px;
$border: 1px solid map-get($colors, grey);
